force-app/main/default/flows/Invoice_Contract_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_the_Email</name>
        <label>Sending the Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>To_Input</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!Body_Input}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>docIdsCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>veena@adornedbyveena.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_Details</name>
        <label>Assign Contract Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Contract with Adorned by Veena</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Details</name>
        <label>Assign Invoice Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Invoice from Adorned by Veena</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LWC_Data</name>
        <label>Assign LWC Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_Assign_Contract_Details</name>
        <label>Re-Assign Contract Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Contract with Adorned by Veena</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Re_Assign_Invoice_Details</name>
        <label>Re-Assign Invoice Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your Invoice from Adorned by Veena</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Attachment_ID</name>
        <label>Set Attachment ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Client_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Email</name>
        <label>Set Client Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>clientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Document_Type</name>
        <label>Set Document Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>documentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Type_Select</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Contract</name>
        <choiceText>Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Invoice</name>
        <choiceText>Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Apply_Template_Choice</name>
        <label>Apply Template Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Re_Assign_Contract_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contract</defaultConnectorLabel>
        <rules>
            <name>Invoice_Template_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Re_Assign_Invoice_Details</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_PDF</name>
        <label>Has PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Client_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PDF Yet</defaultConnectorLabel>
        <rules>
            <name>PDF_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Attachment_ID</targetReference>
            </connector>
            <label>PDF Ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Invoice</name>
        <label>Is Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Prepare_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Details</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Details</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Confirm_Screens</name>
        <label>Skip Confirm Screens</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirm_Event_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Screens</defaultConnectorLabel>
        <rules>
            <name>Bypass_Screens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LWC_Data</targetReference>
            </connector>
            <label>Bypass Screens</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Already_Set</name>
        <label>Type Already Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Select_Document_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Set</defaultConnectorLabel>
        <rules>
            <name>Type_Is_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>documentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Type Is Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Invoice &amp; Contract Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice &amp; Contract Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skip_Confirm_Screens</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_PDF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_City_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_Zip_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Billing_State_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Street_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Client_FirstName_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Client_LastName_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Event_Date_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit_Paid__c</field>
            <value>
                <elementReference>Deposit_Paid_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deposit__c</field>
            <value>
                <elementReference>Deposit_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Client_Details</name>
        <label>Confirm Client Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Client_FirstName_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Client_LastName_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Email_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.PersonEmail</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Phone_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billing_Street_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Billing Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billing_City_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingCity</elementReference>
            </defaultValue>
            <fieldText>Billing City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billing_State_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingState</elementReference>
            </defaultValue>
            <fieldText>Billing State</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billing_Zip_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Billing Zip</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Event_Details</name>
        <label>Confirm Event Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Client_Details</targetReference>
        </connector>
        <fields>
            <name>Event_Name_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Name</elementReference>
            </defaultValue>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Event_Date_Input</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Total_Amount_Input</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Total_Amount__c</elementReference>
            </defaultValue>
            <fieldText>Total Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deposit_Input</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Deposit__c</elementReference>
            </defaultValue>
            <fieldText>Deposit</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Balance_Due_Input</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Balance_Due__c</elementReference>
            </defaultValue>
            <fieldText>Balance Due</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>4</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Deposit_Paid_Input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.Deposit_Paid__c</elementReference>
            </defaultValue>
            <fieldText>Deposit Paid</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prepare_Email</name>
        <label>Prepare Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Apply_Template_Choice</targetReference>
        </connector>
        <fields>
            <name>To_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>clientEmail</elementReference>
            </defaultValue>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>From_Display</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;From:&lt;/strong&gt; veena@adornedbyveena.com&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Template_Choice</name>
            <choiceReferences>Choice_Contract</choiceReferences>
            <choiceReferences>Choice_Invoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>documentType</elementReference>
            </defaultValue>
            <fieldText>Email Template</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Review Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Email</name>
        <label>Review Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sending_the_Email</targetReference>
        </connector>
        <fields>
            <name>Subject_Input</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>emailSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Body_Input</name>
            <defaultValue>
                <stringValue>{!emailBody}</stringValue>
            </defaultValue>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Document_Type</name>
        <label>Select Document Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Document_Type</targetReference>
        </connector>
        <fields>
            <name>Document_Type_Select</name>
            <choiceReferences>Choice_Contract</choiceReferences>
            <choiceReferences>Choice_Invoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to generate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_Already_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Contract_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test contract template&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Invoice_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test invoice template&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>clientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>documentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
